.section-title {
  text-align: center;
  margin-top: 4rem;
  padding: 0 1rem;
  color: #ee6c4d;
  font-size: 2rem;
}

.section-center {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.services-title-formule {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
  color: #343a40;
  font-size: 1.5rem;
}
.services-title-formule h3 {
  color: #355070;
}
.service-card {
  margin: 2rem auto;
  border-radius: 0.5rem;
  background: #f1f5f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.service-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.service-img-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  object-fit: cover;
  height: 160px;
  width: 300px;
}

.service-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*detail service infos*/
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
  color: #343a40;
}

.service-info h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.service-info p {
  max-width: 20rem;
  top: auto;
  color: #617d98;
  margin: 0 auto;
  text-align: justify;
}

.service-info h3 {
  bottom: 10px;
}
.price {
  margin-bottom: 1rem;
  color: #ee6c4d;
}

/* tarifs horaires  */

.mo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin-bottom: 1rem;
  color: #ee6c4d;
  font-size: 2rem;
}
.mo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f5f8;
  margin-bottom: 2rem;
}
.prestations {
  padding: 0 10px;
  text-align: center;
  width: 40%;
}
.prest-title {
  margin: 2rem 0 1rem 0;
}
.prest-description {
  text-align: justify;
  margin-bottom: 1rem;
}

/* footer */
.footer {
  width: 100%;
  height: 60px;
  background-color: #355070;
}
.footer p {
  color: white;
  text-align: center;
  padding-top: 20px;
}

/* mode tablets */

@media screen and (min-width: 713px) and (max-width: 1000px) {
  
  .section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-card {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  .service-info h3 {
    margin-top: 1rem;
  }
  .price {
    margin-top: 1rem;
  }
}

/* mode mobile */
@media only screen and (max-width: 712px) {
  .section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title {
    font-size: 1rem;
  }
  .mo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prestations {
    width: 100%;
  }
}
