* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section-title {
  text-align: center;
  margin-top: 4rem;
  padding: 0 1rem;
  color: #ee6c4d;
  font-size: 2rem;
}
.section-center {
  display: flex;
  justify-content: space-around;
}

.service-card {
  margin: 2rem 0;
  border-radius: 0.5rem;
  background: #f1f5f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}
.service-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.service-img-container {
  position: relative;
  object-fit: cover;
}
.service-img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/*detail service infos*/
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
<<<<<<< HEAD
  color: #343a40;
}
.service-info p {
  max-width: 20rem;
  color: #617d98;
  margin: 0 auto;
}
/* clearfix */
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
=======
  color:#343a40 ;
>>>>>>> 1d9e613ef84a96f144f981d329ade584235d656f
}
.service-info p {
  max-width: 20rem;
  color: #617d98;
  margin: 0 auto;
}
/* clearfix */
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}


/* footer */

.footer {
  width: 100%;
  height: 60px;
  background-color: #355070;
  position: fixed;
  bottom: 0;
}
.footer p {
  color: white;
  text-align: center;
  padding-top: 20px;
}
