.section-title {
  text-align: center;
  margin-top: 4rem;
  padding: 0 1rem;
  color: #ee6c4d;
  font-size: 2rem;
}

.section-center {
  display: flex;
  justify-content: space-around;
}

.services-title-formule {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
  color: #343a40;
  font-size: 1.5rem;
}
.service-card {
  margin: 2rem auto;
  border-radius: 0.5rem;
  background: #f1f5f8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  
}
.service-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.service-img-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  object-fit: cover;
  height: 160px;
  width: 300px;
}

.service-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* display: grid;
  grid-template-columns: auto 1fr auto; */
}
/* img {
  display: block;
} */

/*detail service infos*/
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
  color: #343a40;
}

.service-info h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.service-info p {
  max-width: 20rem;
  top: auto;
  color: #617d98;
  margin: 0 auto;
  text-align: justify;
}

.service-info h3 {
  bottom: 10px;
}

/* clearfix */
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

/* les tarifs horaires */

/* .title-tarif {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
  color: #343a40;
  font-size: 1.5rem;
} */


/* new style */
/* .title-underline {
  background-color:#ee6c4d;
  width: 50rem;
  height: 0.25rem;
  margin: 0 auto;
} */
.title {
   text-align: center;
  font-size: large;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #ee6c4d;
}
.container {
  width: 100%;
  height: 50vh;
  background-color: #edede9;
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}
.depannage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 3rem 1rem 2.5rem 1rem; */
  letter-spacing: 1px;
  text-align: justify;
  /* padding: 9rem 5rem 2.5rem 1rem; */
  width: 40%;
}
.depannage h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #355070;
}
.depannage p {
  margin: 0 auto;
  color: #355070;
}
.formation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 9rem 5rem 2.5rem 1rem; */
  letter-spacing: 1px;
  text-align: justify;
  width: 40%;
}
.formation h3 {
  font-size: 25px;
  text-transform:capitalize;
  margin-bottom: 10px;
  color: #355070;
}
.formation p {
  margin: 0 auto;
  color: #355070;
}
.price {
  text-align: center;
}

/* pour mobil */

@media screen and (max-width: 1200px) {
  .section-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
  }
}

/* pour tablets */
@media screen and (max-width: 1200px) {
  .section-center {
    display: flex;
    flex-wrap: wrap;
  }
}


/* footer */

.footer {
  width: 100%;
  height: 60px;
  background-color: #355070;
  /* position: fixed; */
  /* bottom: 0; */
}
.footer p {
  color: white;
  text-align: center;
  padding-top: 20px;
}
